#container {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

figure {
    display: flex;
    justify-content: center;
}

img {
    width: 70%;
    height: auto;
}

p, ul {
    padding: 1rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

button {
    background:#E50914;
    color: #fff;
    padding: 1rem;
    border: 0;
    align-self: flex-start;
    margin-left: 1.2rem;
}

span {
    align-self: flex-start;
    margin-top: 1rem;
    margin-left: 1.2rem;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
}